version: "3.3"

services:
  app:
    container_name: load-forecasting-dashboard
    #    image: korbakis/load-forecasting-dashboard:0.1
    restart: always
    build:
      context: ""
    volumes:
      - ./src:/app/src
    ports:
      - '3000:3000'
    stdin_open: true
    env_file:
      - .env

networks:
  load-forecasting-net:
    external: true